asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
mysqlclient==2.2.4
PyJWT==2.8.0
pytz==2024.1
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
